<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>添加弱密码规则</title>
  <link rel="stylesheet" href="/layui/css/layui.css" media="all">
  <style>
    body {
      padding: 20px;
      background-color: #f2f2f2;
    }
    .layui-form-label {
      width: 120px;
    }
    .layui-input-block {
      margin-left: 150px;
    }
  </style>
</head>
<body>
<form class="layui-form" lay-filter="weakPasswordRuleForm" id="weakPasswordRuleForm">
  <div class="layui-form-item">
    <label class="layui-form-label">弱密码</label>
    <div class="layui-input-block">
      <input type="text" name="password" required lay-verify="required" placeholder="请输入弱密码" autocomplete="off" class="layui-input">
    </div>
  </div>


  <div class="layui-form-item layui-hide">
    <button class="layui-btn" lay-submit lay-filter="LAY-user-front-submit" id="LAY-user-front-submit">提交</button>
  </div>
</form>

<script src="/layui/layui.js"></script>
<script>
  layui.use(['form'], function(){
    var form = layui.form;
    // 初始化可放置扩展逻辑
  });
</script>
</body>
</html>
