<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpp.threat_perception_platform.dao.RolePathMapper">

    <resultMap id="BaseResultMap" type="com.tpp.threat_perception_platform.pojo.RolePath">
            <id property="id" column="id" />
            <result property="roleId" column="role_id" />
            <result property="path" column="path" />
    </resultMap>

    <sql id="Base_Column_List">
        id,role_id,path
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from role_path
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from role_path
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.RolePath" useGeneratedKeys="true">
        insert into role_path
        ( id,role_id,path)
        values (#{id},#{roleId},#{path})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.RolePath" useGeneratedKeys="true">
        insert into role_path
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="roleId != null">role_id,</if>
                <if test="path != null">path,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="roleId != null">#{roleId},</if>
                <if test="path != null">#{path},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tpp.threat_perception_platform.pojo.RolePath">
        update role_path
        <set>
                <if test="roleId != null">
                    role_id = #{roleId},
                </if>
                <if test="path != null">
                    path = #{path},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tpp.threat_perception_platform.pojo.RolePath">
        update role_path
        set 
            role_id =  #{roleId},
            path =  #{path}
        where   id = #{id} 
    </update>
</mapper>
