<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tpp.threat_perception_platform.dao.SystemRiskAiReportMapper">

    <resultMap id="BaseResultMap" type="com.tpp.threat_perception_platform.pojo.SystemRiskAiReport">
            <id property="id" column="id" />
            <result property="mac" column="mac" />
            <result property="riskHash" column="risk_hash" />
            <result property="reportContent" column="report_content" />
            <result property="riskSummary" column="risk_summary" />
            <result property="reason" column="reason" />
            <result property="consequence" column="consequence" />
            <result property="suggestion" column="suggestion" />
            <result property="riskSummaryContent" column="risk_summary_content" />
            <result property="createdAt" column="created_at" />
            <result property="updatedAt" column="updated_at" />
    </resultMap>

    <sql id="Base_Column_List">
        id,mac,risk_hash,report_content,risk_summary,reason,
        consequence,suggestion,risk_summary_content,created_at,updated_at
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from system_risk_ai_report
        where  id = #{id} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from system_risk_ai_report
        where  id = #{id} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.SystemRiskAiReport" useGeneratedKeys="true">
        insert into system_risk_ai_report
        ( id,mac,risk_hash,report_content,risk_summary,reason,
        consequence,suggestion,risk_summary_content,created_at,updated_at)
        values (#{id},#{mac},#{riskHash},#{reportContent},#{riskSummary},#{reason},
        #{consequence},#{suggestion},#{riskSummaryContent},#{createdAt},#{updatedAt})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.tpp.threat_perception_platform.pojo.SystemRiskAiReport" useGeneratedKeys="true">
        insert into system_risk_ai_report
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="mac != null">mac,</if>
                <if test="riskHash != null">risk_hash,</if>
                <if test="reportContent != null">report_content,</if>
                <if test="riskSummary != null">risk_summary,</if>
                <if test="reason != null">reason,</if>
                <if test="consequence != null">consequence,</if>
                <if test="suggestion != null">suggestion,</if>
                <if test="riskSummaryContent != null">risk_summary_content,</if>
                <if test="createdAt != null">created_at,</if>
                <if test="updatedAt != null">updated_at,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id},</if>
                <if test="mac != null">#{mac},</if>
                <if test="riskHash != null">#{riskHash},</if>
                <if test="reportContent != null">#{reportContent},</if>
                <if test="riskSummary != null">#{riskSummary},</if>
                <if test="reason != null">#{reason},</if>
                <if test="consequence != null">#{consequence},</if>
                <if test="suggestion != null">#{suggestion},</if>
                <if test="riskSummaryContent != null">#{riskSummaryContent},</if>
                <if test="createdAt != null">#{createdAt},</if>
                <if test="updatedAt != null">#{updatedAt},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.tpp.threat_perception_platform.pojo.SystemRiskAiReport">
        update system_risk_ai_report
        <set>
                <if test="mac != null">
                    mac = #{mac},
                </if>
                <if test="riskHash != null">
                    risk_hash = #{riskHash},
                </if>
                <if test="reportContent != null">
                    report_content = #{reportContent},
                </if>
                <if test="riskSummary != null">
                    risk_summary = #{riskSummary},
                </if>
                <if test="reason != null">
                    reason = #{reason},
                </if>
                <if test="consequence != null">
                    consequence = #{consequence},
                </if>
                <if test="suggestion != null">
                    suggestion = #{suggestion},
                </if>
                <if test="riskSummaryContent != null">
                    risk_summary_content = #{riskSummaryContent},
                </if>
                <if test="createdAt != null">
                    created_at = #{createdAt},
                </if>
                <if test="updatedAt != null">
                    updated_at = #{updatedAt},
                </if>
        </set>
        where   id = #{id} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.tpp.threat_perception_platform.pojo.SystemRiskAiReport">
        update system_risk_ai_report
        set 
            mac =  #{mac},
            risk_hash =  #{riskHash},
            report_content =  #{reportContent},
            risk_summary =  #{riskSummary},
            reason =  #{reason},
            consequence =  #{consequence},
            suggestion =  #{suggestion},
            risk_summary_content =  #{riskSummaryContent},
            created_at =  #{createdAt},
            updated_at =  #{updatedAt}
        where   id = #{id} 
    </update>

    <select id="selectByMac" resultType="com.tpp.threat_perception_platform.pojo.SystemRiskAiReport" parameterType="java.lang.String">
        SELECT *
        FROM system_risk_ai_report
        WHERE mac = #{mac}
            LIMIT 1
    </select>

    <insert id="insertOrUpdate" parameterType="com.tpp.threat_perception_platform.pojo.SystemRiskAiReport">
        INSERT INTO system_risk_ai_report (id, mac, risk_hash, risk_summary_content, report_content, risk_summary, reason, consequence, suggestion, created_at, updated_at)
        VALUES (#{id}, #{mac}, #{riskHash}, #{riskSummaryContent}, #{reportContent}, #{riskSummary}, #{reason}, #{consequence}, #{suggestion}, #{createdAt}, #{updatedAt})
            ON DUPLICATE KEY UPDATE
                                 risk_hash = VALUES(risk_hash),
                                 risk_summary_content = VALUES(risk_summary_content),
                                 report_content = VALUES(report_content),
                                 risk_summary = VALUES(risk_summary),
                                 reason = VALUES(reason),
                                 consequence = VALUES(consequence),
                                 suggestion = VALUES(suggestion),
                                 updated_at = VALUES(updated_at)
    </insert>


</mapper>
